@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #1f0a0e;
  --color-surface: #2c1015;
  --color-surface-hover: #3a151b;
  --color-border: #5c1c26;
  --color-accent: #e2b53c;
  --color-accent-hover: #f0c85f;
  --color-text-primary: #f7ece1;
  --color-text-secondary: #c7a89c;
  --color-success: #7fa568;
  --color-warning: #c97a4a;
  --color-neutral: #705458;
  --color-error: #c62f48;

  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}
